
.body{
    background: #252526;
}

.header{
    border: 1px solid #ccc;
    border-width: 1px 0;
    background-color: #410da1;
    left: 0;
    right: 0;
    top: 2px;
    height: 50px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    box-shadow: 0 0 25px 0 #252526;
    box-shadow: 0 5px 50px #410da1;
}

.header li{
    margin: 40px;
    display:inline;
}

.header a{
    font-size: 20px;
    color: #e9e6f0;
    display:inline-block;
    text-decoration: none;
    padding:1px;
}

.desktopHeader{
    border: 5px outset #410da1;
    border-radius: 20px;
    width: 100%;
    height: 100px;
    background-color: #252526;
    text-align: center;
    margin-top: 50px;
    color: #e9e6f0;
}

.headerText{
    color: #e9e6f0;
    margin-top: 5px;
}

.gettingStarted{
    border: 5px outset #410da1;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    background-color: #252526;
    text-align: center;
    margin-top: 25px;
    color: #e9e6f0;
}

.scoutingLevels{
    border: 5px outset #410da1;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    background-color: #252526;
    text-align: center;
    margin-top: 25px;
    color: #e9e6f0;
}

.proScoutingDiscrip{
    border: 5px outset #410da1;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    background-color: #252526;
    text-align: center;
    margin-top: 25px;
    color: #e9e6f0;
}

.amScoutingDiscrip{
    border: 5px outset #410da1;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    background-color: #252526;
    text-align: center;
    margin-top: 25px;
    color: #e9e6f0;
}

.configuring{
    border: 5px outset #410da1;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    background-color: #252526;
    text-align: center;
    margin-top: 25px;
    color: #e9e6f0;
}

.endBuffer{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.endBufferBlock{
    width: 100%;
    height: 200px;
    background: #410da1;
    box-shadow: 0 0 10px 0 #010003;
}