.body{
    background: #252526;
}

.header{
    border: 1px solid #ccc;
    border-width: 1px 0;
    background-color: #410da1;
    left: 0;
    right: 0;
    top: 2px;
    height: 50px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    box-shadow: 0 0 25px 0 #252526;
    box-shadow: 0 5px 50px #410da1;
}

.header li{
    margin: 40px;
    display:inline;
}

.header a{
    font-size: 20px;
    color: #e9e6f0;
    display:inline-block;
    text-decoration: none;
    padding:1px;
}

.introDiv{
    font-size: 70px;
    height: 100px;
    width: 100%;
    color: #e9e6f0;
    background-color: #252526;
    text-align: center;
    margin-top: 50px;
}

.aboutDiv{
    font-size: 20px;
    height: 100px;
    width: 100%;
    color: #e9e6f0;
    background-color: #252526;
    text-align: center;
    margin-top: 35px;
}

.headerBreakLine{
    width: 100%;
    color: #410da1;
    margin-top: 150px;
}

.toDownloads{
    font-size: 15px;
    color: #e9e6f0;
    border-radius: 20px;
    width: 48%;
    height: 70px;
    background-color: #252526;
    text-align: center;
    margin-top: 50px;
    margin-left: 26%;
}

.downButton{
    width: 90%;
    height: 90%;
    background-color: #410da1;
    color: #e9e6f0;
    border: 2px solid #e9e6f0;
    border-radius: 20px;
    margin-top: 3px;
}

.downButton:hover{
    box-shadow: 0 5px 100px #410da1;
}

.newRelease{
    font-size: 15px;
    color: #e9e6f0;
    border-radius: 20px;
    width: 48%;
    height: 70px;
    background-color: #252526;
    text-align: center;
    margin-top: 120px;
    margin-left: 26%;
}

.roadMap{
    font-size: 15px;
    color: #e9e6f0;
    border-radius: 20px;
    width: 48%;
    height: 70px;
    text-align: center;
    margin-top: 160px;
    margin-left: 26%;
}

.roadMapItems{
    font-size: 15px;
    color: #e9e6f0;
    border-radius: 20px;
    width: 20%;
    height: 70px;
    background-color: #252526;
    text-align: center;
    margin-top: 20px;
    margin-left: 39%;
}

.roadMapItemsUL{
    list-style-type: lower-greek;
}

.roadMapItemsUL li {
    margin: 10px;
}

.roadMapUL li a {
    color: #e9e6f0;
    text-decoration: none;
}

.endImage{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 38%;
}

.endText{
    font-size: 20px;
    margin-left: 48%;
}

.endBuffer{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.endBufferBlock{
    width: 100%;
    height: 200px;
    background: #410da1;
    box-shadow: 0 0 10px 0 #252526;
}